<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>electron starter</title>
</head>

<body>
    <h1 text-align="center">About electrons</h1>
    <br>
    <br>
    <h4 text-align="center">honestly, I'm so underqualified to talk about this topic but
        that's fine, we're gonna learn and I'm only displaying what I know</h4>

    <h5 text-align="center" color="blue">ok, so what exactly are they</h5>
    <p>here's a bit of a general definition: </p>
</body>

</html>